# Environment variables
.env

# SQLite
db.sqlite3
db.sqlite3-journal

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Django
*.log
staticfiles/
media/

# Node
node_modules/

# IDE
.vscode/
.idea/
